body {
	background-color:gray;
}

#content {
	width: 1024px;
	padding: 0px 20px;
	margin: 0px auto;
	background-color: transparent;
}

#map {
	width: 800px;
	height: 600px;
	float: left;
	background-color:#607D8B;
	overflow: hidden;
	position: relative;
}

#menu {
	width: 194px;
	height: 580px;
	float: left;
	padding: 10px;
	border-left: 10px gray solid;
	background-color:white;
}

.fclear {
	clear:both;
}

.mapImage {
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
}

.pixelated {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast; 
	image-rendering: -webkit-crisp-edges; 
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges; 
	image-rendering: pixelated; 
}

#authorInfo {
	text-align: right;
	color:gray;
	font-size: 12px;
}

#authorInfo > a {
	color:gray;
}